awscli==2.9.19
awscrt==1.0.0.dev0
colorama==0.4.6
cryptography==38.0.4
dbus-python==1.3.2
distro==1.8.0
docutils==0.19
gpg==1.18.0
greenlet==2.0.2
gyp==0.1
jmespath==1.0.1
libcomps==0.1.19
msgpack==1.0.3
olefile==0.46
Pillow==9.4.0
prompt-toolkit==3.0.36
pyasn1==0.4.8
Pygments==2.14.0
PyGObject==3.42.2
pynvim==0.4.2
python-dateutil==2.8.2
PyYAML==6.0
roman==3.3
rpm==4.18.0
ruamel.yaml==0.17.21
ruamel.yaml.clib==0.2.7
six==1.16.0
urllib3==1.26.12
wcwidth==0.2.5
